{% load static %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<link rel="stylesheet" href="{% static 'documents/access.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<div class="loader">
    <img
        height="128"
        width="128"
        src="{% static 'logo.png' %}"
        alt="Logo"
    />
    <div>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div class="container">
    {% if not captcha_passed %}
    <form method="post" id="captcha-form">
        {% csrf_token %}
        <div class="form-container">
            <p style="margin-bottom: 20px">
                <b>Hujjatni ko'rish uchun tekshiruvdan o'ting</b>
            </p>
            <div
                class="g-recaptcha"
                data-sitekey="{{ captcha }}"
                data-callback="onCaptchaSuccess"
            ></div>
        </div>
    </form>

    <script>
        function onCaptchaSuccess(token) {
            document.getElementById("captcha-form").submit();
        }
    </script>

    {% else %}
    <form method="post">
        <div class="form-container">
            <p style="margin-bottom: 20px">
                <b>Hujjatda berilgan PIN kodni kiriting</b>
            </p>
            <p><b>PIN kod</b></p>
            <input type="text" name="pin" id="pin" placeholder="PIN" />
            {% if error %}
            <p style="color: red">{{ error }}</p>
            {% endif %} {% csrf_token %}
            <button type="submit">Ochish</button>
            <p style="color: rgb(0, 90, 163); margin-top: 30px">
                PIN-kod hujjatning QR-kodi yonida joylashgan
            </p>
        </div>
    </form>
    <img
        src="{% static 'pin_code_document.jpg' %}"
        alt="PIN kod namunasi"
    />
    {% endif %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            var loader = document.querySelector(".loader");
            var container = document.querySelector(".container");

            if (loader) {
                loader.classList.add("hidden");
            }

            if (container) {
                container.classList.add("visible");
            }
        }, 800);
    });
</script>
